<div class="index">
  <img src="/images/beer.png" alt="beer pic" style="height: 200px" />
  <div class="button-div">
    <a class="button" href="/beers">Check the Beers!</a>
    <a class="button" href="/randomBeer">Check a Random Beer</a>
  </div>
</div>